*{
margin: 0;
font-family: 'Nova Flat';
}
Nav{
display: flex;
justify-content: space-between;
align-items: center;
background-color: #050505;
padding: 20px 50px;
}
ul{
display: flex;
gap: 20px;
list-style: none;
}   
nav a{
color: white;
text-decoration: none;
}
nav h2{
color: white;
}
nav a:hover{
color: #00ffea;
}
nav li:last-child a{
background-color: #ff0073dd;
padding: 10px 20px;
border-radius: 100px;
}
.hero{
height: 90vh;
background:url(/media/banner.png) no-repeat center center/cover;
display: flex;
justify-content: center;
align-items: center;
color: white;
}
.hero button{
margin-top: 20px;
background: #0da5cf;
color: #ffffff;
padding: 10px 20px;
border-radius: 100px;
cursor: pointer;
}
.hero button:hover{
background: #10b710;
}
.video-section{
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px;
gap: 40px;
}
.video-box video{
width: 100%;
border-radius: 50px;
}
.video-text h2{
font-size: 32px;
margin-bottom: 15px;
}
.video-text p{
color: rgb(75, 23, 23);
font-size: 18px;
}
.video-text{
flex: 1;
}
.video-box{
flex: 1;
}
.about{
text-align: center;
padding: 60px 20px;
background-color: #f8f8f8;
}
.about h2{
font-size: 32px;
}
.card{
background-color: #cf4f71d5;
padding: 50px;
border-radius: 20px;
}
.card img{
width: 100%;
object-fit: cover;
}
.card button{
background-color: #ff0073dd;
color: white;
border-radius: 100px;
cursor: pointer;
margin-top: 10px;
}
.card button:hover{
background-color: #ff0073;
}
.menu-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
}